form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
#goku {
  border: 0.01rem solid black;
  width: 125px;
  height: 220px;
  background-repeat: no-repeat;
  background-size: 260px 220px;
  animation: stand 0.8s steps(2) infinite;
}
.base {
  background-image: url("images/base2.png");
}
.ssj {
  background-image: url("images/ssj.png");
}
.ssj3 {
  background-image: url("images/ssj3.png");
}
@keyframes stand {
  from {
    background-position: 0px;
  }
  to {
    background-position: -255px;
  }
}
